// $chrome-bg: #555;
$chrome-bg: #3d454d;
// $chrome-bg: #2c3e50;
$chrome-text: #fff;
// $chrome-under-bg: #666;
// $chrome-under-bg: #34495e;
$chrome-under-bg: lighten($chrome-bg, 3);

$chrome-link-text: #b9bbbe;
$chrome-link-selected-bg: $chrome-bg;
$chrome-link-selected-text: #fff;

$green-bg-theme: #27ae60;
$green-text-theme: #5cb85c;
$green-btn-text-theme: #fff;

$red-bg-theme: #d9534f;
$red-text-theme: #d9534f;
$red-btn-text-theme: #fff;
