// $chrome-bg: #555;
$chrome-bg: #3d454d;
$chrome-text: #fff;
// $chrome-under-bg: #666;
$chrome-under-bg: #3d454d;

$chrome-link-text: #b9bbbe;
$chrome-link-selected-bg: #383f45;
$chrome-link-selected-text: #fff;

$green-bg-theme: #5cb85c;
$green-text-theme: #5cb85c;
$green-btn-text-theme: #fff;

$red-bg-theme: #d9534f;
$red-text-theme: #d9534f;
$red-btn-text-theme: #fff;
