$chrome-bg: #555;
$chrome-text: #fff;
$chrome-under-bg: #666;
$chrome-link: #333;

$green-bg-theme: #5cb85c;
$green-text-theme: #5cb85c;
$green-btn-text-theme: #fff;

$red-bg-theme: #d9534f;
$red-text-theme: #d9534f;
$red-btn-text-theme: #fff;
